.navbar {
    /* font-size: 22px;
    background-color: white;
    padding: 10px; */

    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: solid;
    border-color: darkgreen;
}

img {
    padding: 50px;
    height: 650px;
    width: 450px;
    display: block;
    margin: auto;
    background-color: white;
    border-style: solid;
    border-color: darkgreen;
}

h1 { 
    color: rgb(241, 10, 68);
    font-size: 50px;
    text-align: center;
}

h2 {
    color: rgb(241, 10, 68);
    font-size: 30px;
    text-align: center;
}

h3 {
    color: rgb(241, 10, 68);
    font-size: 22px;
    /* background-color: rgb(255, 255, 255, 0.8);
    padding: 30px; */
}


body { 
    background-color: pink;
}

h3 {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 30px;
    text-align: center;
    border-style: solid;
    border-color: darkgreen;
    margin: 75px;
}

h4 {
    color: rgb(241, 10, 68);
    font-size: 50px;
    text-align: center;
}

.aboutme { 
    background-color: rgb(255, 255, 255, 0.8);
    padding: 30px;
    text-align: center;
    border-style: solid;
    border-color: darkgreen;
    margin: 75px;
}

.outcome1, .outcome2 {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 30px;
    text-align: center;
    border-style: solid;
    border-color: darkgreen;
    margin: 75px;
}

/* * { box-sizing: border-box; }

* { box-sizing: border-box; padding: 25px50px75px100px; } */


